# cpprestsdk
[submodule "3rdparty/cpprestsdk"]
	path = 3rdparty/cpprestsdk
	url = https://github.com/microsoft/cpprestsdk.git

# spdlog C++
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git